
.field{
  width:75%;
  margin:10px auto;
  padding:10px;
  background:#2c2c2c;
  border:none;
  box-shadow: 0px 1px 0px 0px #111;
  border-radius:3px;
  outline:none;
  color:#FFBF00;
  font-weight:700;
  letter-spacing:0.125em;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  display: block;
}
body {
  color:  #848484;
}
#title {

  font-family: 'Neucha', cursive;
text-align: center;
color:#F2D44F;
  height:70px;
  font-size:40px;
}
li {
  color: #000000;
}

div {

  font-family: 'Neucha', cursive;
text-align: center;
color:#F2D44F;
}


#content{
display: block;
    margin-left: auto;
    margin-right: auto;
}


.btn{
  width:25%;
  margin:10px auto;
  padding:10px;
  background:#161616;
  border:none;
  box-shadow: 0px 1px 0px 0px #111;
  border-radius:3px;
  outline:none;
  color:#FFBF00;
  font-weight:700;
  letter-spacing:0.125em;
  text-align:center;
  text-transform:uppercase;
  margin-left:auto;
  margin-right:auto;
  display: block;
}

.btn:hover{
  background:#FFBF00;
  color:#333;
}

.btn:active{
  background:#FACC2E;
  color:#333;
}
